@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
}
main {
  background-color: #e6eff5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}
div.card {
  width: 635px;
  height: 475px;
  border-radius: 8px;
}
div.top_section {
  width: 635px;
  height: 216px;
  background-color: #ffffff;
  padding: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  h1 {
    color: #2ab3b1;
    font-size: 24px;
    font-weight: 700;
  }
  h2 {
    color: #c0df33;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
  }
  p {
    color: #9aa7be;
    font-size: 16px;
    font-weight: 400;
    margin-top: 11px;
  }
}
